

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../assets/css/main.css?v=5e892d17e0" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../assets/css/screen.css?v=5e892d17e0">
    <link rel="stylesheet" href="https://highlightjs.org/static/demo/styles/github.css">
    <script src="https://cdn.bootcss.com/highlight.js/9.15.6/highlight.min.js"></script>
    

    <title></title>
     <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="canonical" href="index.html">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="amphtml" href="amp/index.html">
    
    <meta property="og:site_name" content="无根树の博客">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Vue如何得到分类ID传到商品列表?">
    <meta property="og:description" content="当你点击分类的时候，你会获得分类ID，然后传递到产品列表，并按分类显示对应的产品。我知道以前做过jquery选项卡列表页功能，但第一次用vue做选项卡功能，实现这个功能需要一个计算categoryProducts阵列由分类ID。 HTML文件： &amp;lt;div id=&amp;quot;app&amp;quot;&amp;gt;   &amp;lt;ul&amp;gt;     &amp;lt;li @click=&amp;quot;toggle(item.category_id,item.category_name)&amp;quot; v-for=&amp;quot;item in category&amp;quot; :class=&amp;quot;{active: active == item.category_id}&amp;quot;&amp;gt;{{ item.category_name }}&amp;lt;/li&amp;">
    <meta property="og:url" content="http://localhost:2368/vueru-he-de-dao-fen-lei-idchuan-dao-shang-pin-lie-biao/">
    <meta property="article:published_time" content="2018-01-20T14:26:11.000Z">
    <meta property="article:modified_time" content="2018-01-20T14:19:55.000Z">
    <meta property="article:tag" content="Vue.js">
    <meta property="article:tag" content="Javascript">
    <meta property="article:tag" content="前端">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Vue如何得到分类ID传到商品列表?">
    <meta name="twitter:description" content="当你点击分类的时候，你会获得分类ID，然后传递到产品列表，并按分类显示对应的产品。我知道以前做过jquery选项卡列表页功能，但第一次用vue做选项卡功能，实现这个功能需要一个计算categoryProducts阵列由分类ID。">
    <meta name="twitter:url" content="http://localhost:2368/vueru-he-de-dao-fen-lei-idchuan-dao-shang-pin-lie-biao/">
    <meta name="twitter:label2" content="Filed under">
    <meta name="twitter:data2" content="Vue.js, Javascript, 前端">
    
    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Article",
    "publisher": {
        "@type": "Organization",
        "name": "无根树の博客",
        "logo": {
            "@type": "ImageObject",
            "url": "http://localhost:2368/favicon.ico",
            "width": 60,
            "height": 60
        }
    },
    "author": {
        "@type": "Person",
        "name": "",
        "url": "http://localhost:2368/author/",
        "sameAs": []
    },
    "headline": "Vue如何得到分类ID传到商品列表?",
    "url": "http://localhost:2368/vueru-he-de-dao-fen-lei-idchuan-dao-shang-pin-lie-biao/",
    "datePublished": "2018-01-20T14:26:11.000Z",
    "dateModified": "2018-01-20T14:19:55.000Z",
    "keywords": "Vue.js, Javascript, 前端",
    "description": "当你点击分类的时候，你会获得分类ID，然后传递到产品列表，并按分类显示对应的产品。我知道以前做过jquery选项卡列表页功能，但第一次用vue做选项卡功能，实现这个功能需要一个计算categoryProducts阵列由分类ID。 HTML文件： &amp;lt;div id&#x3D;&amp;quot;app&amp;quot;&amp;gt;   &amp;lt;ul&amp;gt;     &amp;lt;li @click&#x3D;&amp;quot;toggle(item.category_id,item.category_name)&amp;quot; v-for&#x3D;&amp;quot;item in category&amp;quot; :class&#x3D;&amp;quot;{active: active &#x3D;&#x3D; item.category_id}&amp;quot;&amp;gt;{{ item.category_name }}&amp;lt;/li&amp;",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "http://localhost:2368/"
    }
}
    </script>

    <script type="text/javascript" src="../public/ghost-sdk.min.js?v=5e892d17e0"></script>
<script type="text/javascript">
ghost.init({
	clientId: "ghost-frontend",
	clientSecret: "a41d73990106"
});
</script>
    <meta name="generator" content="Ghost 1.20">
    <link rel="alternate" type="application/rss+xml" title="无根树の博客" href="../rss/index.html">
</head>

<body class="post-template tag-vue-js tag-javascript tag-qian-duan">

    
 <div class="header">
    <div class="header-inder">
        <nav class="site-navs">
            <div class="site-nav-left">
                <a class="site-nav-logo" href="../">无根树の博客</a>
                  <ul class="nav" role="menu">
    <li class="nav-" role="menuitem"><a href="https://jinzita007.github.io">首页</a></li>
    <li class="nav-" role="menuitem"><a href="https://jinzita007.github.io/records">归档</a></li>
    <li class="nav-" role="menuitem"><a href="https://jinzita007.github.io/tags">标签</a></li>
    <li class="nav-github" role="menuitem"><a href="https://github.com/jinzita007">github</a></li>
</ul>
 
            </div>
            <div class="site-nav-right">
                <form class="form-inline my-2 my-lg-0">
                    <input id="search-field" class="form-control mr-sm-2" type="text" placeholder="Search">
                    <!--<button class="btn btn-secondary my-2 my-sm-0" type="submit">搜索</button>-->
                </form>
            </div>

        </nav>
    </div>
</div>
<section id="results-main">
    <ul id="results" class="results-search">
    </ul>
</section>
    <div class="container">
        <div class="wrap">
            <div class="content-main">
                 
                <div class="content-title">
                    <h1>Vue如何得到分类ID传到商品列表?</h1>
                    <span class="post-main">
                        <span class="post-time">
                            <span class="post-meta-item-icon">
                                <i class="fa fa-calendar-o"></i>
                            </span>
                            <time class="post-meta-time">2018-01-20</time>
                        </span>  |   
                        <span class="tags">
                             <a href="../tag/vue-js/">Vue.js</a> <a href="../tag/javascript/">Javascript</a> <a href="../tag/qian-duan/">前端</a>
                        </span>
                    </span>
                </div>
                <div class="content-dec">
                    
                    <div class="kg-card-markdown"><blockquote>
<p>当你点击分类的时候，你会获得分类ID，然后传递到产品列表，并按分类显示对应的产品。我知道以前做过jquery选项卡列表页功能，但第一次用vue做选项卡功能，实现这个功能需要一个计算categoryProducts阵列由分类ID。</p>
</blockquote>
<p>HTML文件：</p>
<pre><code>&lt;div id="app"&gt;

  &lt;ul&gt;
    &lt;li @click="toggle(item.category_id,item.category_name)" v-for="item in category" :class="{active: active == item.category_id}"&gt;{{ item.category_name }}&lt;/li&gt;
  &lt;/ul&gt;
  &lt;br&gt;
  &lt;div class="layui-tab-content"&gt;
    &lt;ul&gt;
      &lt;li v-for="item in categoryProducts"&gt;
        {{item.goods_name}}
      &lt;/li&gt;
    &lt;/ul&gt;

  &lt;/div&gt;
&lt;/div&gt;
&lt;script src="https://cdn.jsdelivr.net/npm/vue"&gt;&lt;/script&gt;
</code></pre>
<p>CSS文件：</p>
<pre><code>.active {
  color: red;
  border-bottom: 1px solid red;
}
ul li {
  padding: 0 15px;
  float: left;
  list-style: none;
}
</code></pre>
<p>JavaScript文件：</p>
<pre><code>var vm = new Vue({
  el: '#app',
  data: {
    currentView: 'child1',
    active: '1',
    category: [{
      category_id: "1",
      category_name: "Apple"
    }, {
      category_id: "2",
      category_name: "Xiaomi"
    }],
    products: [
      {
        category_id: "1",
        goods_name: "iphone6s",
      }, {
        category_id: "1",
        goods_name: "macbook pro"
      }, {
        category_id: "2",
        goods_name: "hongmi5 Plus"
      }
    ]
  },
  computed: {
  	categoryProducts () {
    	let that = this
    	return this.products.filter(p =&gt; p.category_id === that.active)
    }
  },
  methods: {
    toggle(i, v) {
      this.active = i
      console.log(i)
      //this.currentView = v
    }
  }
})
</code></pre>
<p>最终效果图：</p>
<iframe width="100%" height="300" src="http://jsfiddle.net/zhouyulong/z5erp3f1/embedded/" allowpaymentrequest allowfullscreen="allowfullscreen" frameborder="0"></iframe>
</div>
                </div>

            </div>
        </div>
    </div>

    <script>
   
    </script> 


</body>
<script src="https://cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
<script src="../assets/js/jquery.ghostHunter.js?v=5e892d17e0" type="text/javascript"></script>
<script>

    //实时监听input框输入值并增加搜索
    var input = document.getElementById('search-field');
    $("#search-field").ghostHunter({
        results: "#results",
        onKeyUp: true,
        displaySearchInfo: false,
        before: function () {
            input.oninput = function () {
                //如果输入值为空时，列表内容就显示出来
                if (input.value === '') {
                    //console.log(input.value);
                    $(".wrap-active").removeClass("results-hide");
                } else {
                    //如果输入值为有字符，列表内容就隐藏
                    //console.log(input.value);
                    $(".wrap-active").addClass("results-hide");
                }
            }
        }
    });

</script>
<script>hljs.initHighlightingOnLoad();</script>


